<mat-dialog-content>
  <form [formGroup]="pointForm">
    <label for="checktype">Type de donnee</label><br>
    <mat-radio-group formControlName="checktype">
      <mat-radio-button 
        *ngFor="let check of bloodChecks" 
        name="checktype"  
        [value]="check"
        (change)="displayLimits()"
      >
        {{check}}
      </mat-radio-button>
    </mat-radio-group>
    <div class="container">
      <div class="enter-data">
        <mat-form-field>
          <input matInput type="number" formControlName="value" placeholder="Valeur enregistree" name="value">
        </mat-form-field>
  
        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Date"formControlName="date">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="check-against-data">
        <mat-form-field>
          <input matInput type="number" formControlName="upperLimit" placeholder="Limite superieure" name="upperLimit" autocomplete="upperLimit">
        </mat-form-field>
  
        <mat-form-field>
          <input matInput type="number" formControlName="lowerLimit" placeholder="Limite inferieure" name="lowerLimit" autocomplete="lowerLimit">
        </mat-form-field>
    
        <mat-form-field>
          <input matInput type="string" formControlName="unit" placeholder="Unite" name="unit" autocomplete="unit">
        </mat-form-field>
      </div>
 
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button value="Sauvegarder" color="accent" (click)="this.pointId ? editPoint(pointForm.value, pointId) : addPoint(pointForm.value)">Sauvegarder</button>    
    <button mat-raised-button value="Reset" (click)="clearForm()">Reset</button>
    <button mat-raised-button value="Save" (click)="save()">Save</button>
    <button mat-raised-button value="Close" (click)="close()">Close</button>
</mat-dialog-actions>


