<div *ngIf="auth.user | async; then authenticated else guest"></div>

<ng-template #guest>
  <h3>Bienvenu</h3>
  <p>Login pour commencer</p>
  <button mat-button color="primary" (click)="auth.googleLogin()">
    <i class="fa fa-google"></i>Connect Google
  </button>
</ng-template>

<ng-template #authenticated>   
  <div *ngIf="auth.user | async as user" class="container">
    <h3 class="welcome" >Bienvenu {{ user.displayName }}</h3>
    <img [src]="user.photoURL" class="icon">
    <button mat-button color="warn" (click)="auth.signOut()">Sign Out</button>     
  </div>
  <button mat-raised-button color="accent" (click)="displayDashboard()">A mon dashboard</button> 
</ng-template>